.chat-popup 
{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

.open-button 
{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 140px;
}  

.chat-container 
{
    width: 100%;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 700px;
}

.chat-iframe
{
    position:relative;
    width: 100%;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 840px;
}

.bot_btn
{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 20px;
    right: 28px;
    width: 140px;
}